<div>
  @if (shiftSignal()){
  {{ shiftSignal() | json }}
  } @if (eventsSignal()){
  <p>events signal</p>
  } @if(eventsComputed() ){
  {{ eventsComputed() | json }}
  } @if(calendarEventsComputed()){
  <p>calendar events</p>
  {{ calendarEventsComputed() | json }}
  } @if (calendarOptionsComputed()){
  <p>Options:</p>
  {{ calendarOptionsComputed() | json }}
  } @if (calendarVisible()) {

  <full-calendar [options]="calendarOptionsComputed()">
    <ng-template #eventContent let-arg>
      <b>{{ arg.timeText }}</b>
      <i>{{ arg.event.title }}</i>
    </ng-template>
  </full-calendar>
  }
  <!-- @if (isModalVisible()){ -->
  <app-shift-editor-modal
    [(isVisible)]="isModalVisible"
    [(currentDate)]="selectedDate"
  ></app-shift-editor-modal>
  <!-- } -->

  <!-- <app-custom-modal
    [isVisible]="isModalVisible"
    [message]="modalMessage"
  ></app-custom-modal> -->
</div>
