<div class="overflow-x-auto">
  <button class="btn" onclick="my_modal_5.showModal()">open modal</button>

  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (item of shifts(); track $index) {
      <!-- row  -->
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div
                class="mask mask-squircle w-12 h-12"
                [style.background-color]="item.color"
              ></div>
            </div>
            <div>
              <div class="font-bold">{{ item.name }}</div>
              <div class="text-sm opacity-50">{{ item.created_at }}</div>
            </div>
          </div>
        </td>
        <td>
          {{ item.start_time }}
        </td>
        <td>{{ item.end_time }}</td>
        <th>
          <button class="btn btn-ghost btn-xs">edit</button>
        </th>
      </tr>
      }
    </tbody>
  </table>
</div>
