<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">We're delighted to have you here</h1>
      <p class="py-6">
        Dive into effortless organization with our intuitive calendar and shift
        management features. Get ready for a journey of seamless scheduling and
        enhanced productivity.
      </p>
      <button class="btn btn-primary" (click)="getStarted()">
        Get Started
      </button>
    </div>
  </div>
</div>
